html {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    width: 100%;
    height: 100%;
}

.nav-wrapper {
    background-color: #283238;
    font-weight: 300;
    font-size: 20px;
}

.brand-logo {
    margin-left:30px;
}

.fabric-container {
    float: right;
    width: 65vw;
    height: 91vh;
    position: relative;
    background-color: green;
}

.canvas-container {
    width: 100%;
    height: 100%;
}

#mainCanvas {
    background-color: yellow;
    width: 100%;
}